<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejercicio 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <!-- <script src="/lib/jquery-1.12.2.min.js"></script> -->
    
</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="buscarPorNombre"
        placeholder="Ingrese el nombre o apellido que desea buscar">
        

    <br>
    <input type="number" class="form-control" v-model="buscarPorDni"
        placeholder="Ingrese el dni que desea buscar">
        <div v-if="busquedaMayor()">
            <br>
              <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Advertencia!</strong> Debe ingresar por lo menos 3 caracteres.
              </div>
            </div>
        
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            buscarPorNombre: '',
            buscarPorDni:'',
            

            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Carolina",
                    apellido: "D Estepa",
                    correo: "carolinadestepa@gmail.com",
                    dni: "29695793"
                },
                {
                    nombre: "Lorenzo",
                    apellido: "Grillo",
                    correo: "lgrillo@gmail.com",
                    dni: "29695794"
                },
                {
                    nombre: "Pablo",
                    apellido: "Perez",
                    correo: "pp@gmail.com",
                    dni: "29695795"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let filtroNombre = `${persona.nombre}`
                    let filtroDni = `${persona.dni}`
                    
                    return this.busquedaMayor()==true ? true : (filtroNombre.toLowerCase().includes(this.buscarPorNombre.toLowerCase()) && 
                    filtroDni.includes(this.buscarPorDni))
                    
                });
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },

            busquedaMayor(){
                return this.buscarPorNombre.length <=3 && this.buscarPorDni.length <= 3
            }

        
        }
    });
</script>



